<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<b th:text="${title}"></b>
<h1>Basic Information</h1>
<p> Alya Putri | Jakarta, June 23rd 1999 </p>
<h2> Education History </h2>
<ul>
    <li> SMP Labschool Kebayoran</li>
    <li> SMA Labschool Kebayoran</li>
    <li> Universitas Indonesia</li>
</ul>
<p> CompSci undergrad, trying to survive this hell called life. </p>
</body>
</html>
